.floating-action-button {
  position: relative;
  margin-bottom: 100px;
  margin-left: 50px;
}
ul.dropdown-menu {
  box-shadow: none;
  border: 0;
  min-width:0;
  background:transparent
}

@import "bourbon";

@include keyframes(spin) {
  from { @include transform(rotate(180deg)); }
  to   { @include transform(rotate(720deg)); }
}
@include keyframes(reverse-spin) {
  from { @include transform(rotate(720deg)); }
  to   { @include transform(rotate(180deg)); }
}

#btn-main.active + ul > li > a {
  @include transform(scaleY(1) scaleX(1) translateY(40px));
  opacity: 1;
}

.btn-primary:before {
  display: inline-block;
  content: attr(data-text);
  @include transform(translateY(0.1em));
}

.btn-primary.reverse-animation:before {
  @include animation-name(reverse-spin);
  @include animation-duration(300ms);
  @include animation-iteration-count(1);
  @include animation-timing-function(linear);
}

.btn-primary.active:before {
  display: inline-block;
  @include animation-name(spin);
  @include animation-duration(300ms);
  @include animation-iteration-count(1);
  @include animation-timing-function(linear);
  content: attr(data-active-text);
}

.btn-secondary {
  @include transform(scaleY(0.4) scaleX(0.4));
  @include transition(all 0.4s cubic-bezier(.64,.09,.08,1));
  opacity: 0;
}

.btn-floating {
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.4);
  cursor: pointer;
  display: block;
  text-align: center;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  line-height: 40px;
  color: white;
  margin: 10px;
}

.btn-large {
  margin: -40px 0;
  height: 60px;
  width: 60px;
  line-height: 60px;
  font-size: 2.4em;
}

.fixed-action-btn {
  position: relative;
  top: 50px;
  width: 50px;
  margin: auto;
}

body {
  text-align: center;
}

.red    { background-color: red; }
.yellow { background-color: yellow; }
.green  { background-color: green; }
.blue   { background-color: blue; }

ul {
  list-style-type: none;
  padding: 0;
}